* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans HK', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    color: rgb(27, 27, 27);
    background-color: rgb(252, 252, 252);
}

header {
    display: flex;
    align-items: flex-end;
    height: 160px;
    color: aliceblue;
    background-color: rgb(218, 146, 80);

}

h1 {
    font-size: 3em;
    font-weight: 200;
    padding: 10px 2em;
}

.container {
    padding: 2em;
}

.flex {
    /* margin: 3em; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

}

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em;
    /* background-color: rgb(255, 116, 116); */
    height: auto;
}

.buttons {
    position: absolute;
    /* background-color: cornflowerblue; */
    opacity: .5;
}

i {
    color: rgb(239, 247, 255);
    font-size: 28px;
    padding: 20px;
}

.search {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 300px;
    /* background-color: brown; */
    opacity: 0;
    transition: 240ms;
}

.search:hover {
    opacity: .5;
}

.fa-search-plus {
    font-size: 44px;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2em;
    margin-top: auto;
    color: aliceblue;
    background-color: rgb(68, 69, 70);

}